[style*='969009852112306267'],
[style*='969009852112306267'],
[aria-label*="N1x | 𝐋𝐄𝐀𝐆𝐔𝐄"]+*, 
[aria-label*="N1x | 𝐋𝐄𝐀𝐆𝐔𝐄"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent: rgb(205, 9, 82, 1.0); /* #000 */
	--server-accent-extra: rgb(70, 255, 107); /* #000 */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: "N1X League | LEGION, VICTORY, HONOR";
	--server-badge: url("https://itsjustjoshdev.github.io/src/assets/favcon/crown.png");
	--server-background: url("https://media.discordapp.net/attachments/942141046689767424/990333264361320468/unknown.png?width=778&height=449");

	/* CreArts v3 */
	--utility-padding: 90px; 

}
[style*='916416921379958884'],
[style*='916416921379958884'],
[aria-label*="Serveur de ⚔🐲 ㄚㄖᎶ卂ㄒ卂Ꮆ卂 🦾🍥"]+*, 
[aria-label*="Serveur de ⚔🐲 ㄚㄖᎶ卂ㄒ卂Ꮆ卂 🦾🍥"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent-extra: rgb(70, 255, 107); /* #000 */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-background: url("https://media.discordapp.net/attachments/943990619485917205/988506321852715088/giphy.gif");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[style*='942900758750326834'],
[aria-label*="| ROG | 𝐓𝐇𝐄 𝐑𝐎𝐆𝐔𝐄 𝐄𝐌𝐏𝐈𝐑𝐄"]+*,
[aria-label*="| ROG | 𝐓𝐇𝐄 𝐑𝐎𝐆𝐔𝐄 𝐄𝐌𝐏𝐈𝐑𝐄"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-badge: ; /* url("") */
	--server-background: url("https://media.discordapp.net/attachments/942900764450386035/989867130440785930/Banners_copie.png?width=901&height=676"); /* Tehehe Don't Tell */

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[aria-label*="Imperial Vekta | Officer"]+*,
[aria-label*="Imperial Vekta | Officer"],
[style*='940356528966336522'] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent: rgba(205, 9, 82, 1.0); /* #000 */
	--server-accent-extra: rgb(204, 142, 165); /* #000 */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-badge: ; /* url("") */
	--server-background: url("https://i.pinimg.com/originals/26/57/4c/26574cc0ae902f7c16e545b1fd771896.jpg");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[aria-label*="ShipGirls Community"]+*,
[aria-label*="ShipGirls Community"],
[style*='423116740810244097'] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent: #977a9b;

	--server-background: url("https://itsjustjoshdev.github.io/src/assets/user/lanyard_banner.png");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

/* Template Banner */
[aria-label*="N1x | 𝐋𝐄𝐀𝐆𝐔𝐄"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://media.discordapp.net/attachments/922210076838739978/922240077738942464/unknown.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

	/* CreArts V2 Vars */
	--BBG-CreArts-Header-Height: 135px;
	--BBG-CreArts-Header-Padding: 80px;
	--BBG-CreArts-Header-Z-Index: 2;
	--BBG-CreArts-Header-Opacity-1: 1;
	--BBG-CreArts-Header-Opacity-0: 0;
	--BBG-CreArts-Header-Transition: none;
	--BBG-CreArts-Header-Color: var(--interactive-active);
	--BBG-CreArts-Header-Radius: var(--radius-primary);

}
