[style*='969009852112306267'],
[aria-label*="N1x | ğ‹ğ„ğ€ğ†ğ”ğ„"]+*,
[aria-label*="N1x | ğ‹ğ„ğ€ğ†ğ”ğ„"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */

	--utility-tooltip-margin: 6px;
	--utility-tooltip-pading: 1px 8px 0px 8px;
	--server-tooltip: block;
	--server-tooltip-text: "Server Backgrounds Offical Server";
	--server-badge: ;  url("https://itsjustjoshdev.github.io/src/assets/favcon/crown.png")
	--server-background: url("https://i.pinimg.com/originals/6b/d7/02/6bd702e4c22bf96c804f3be70ca8bb1f.jpg");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[style*='858830126711046177'],
[style*='888837929789710387'],
[aria-label*="Archcraft"]+*, 
[aria-label*="Archcraft"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-badge: ; /* url("") */
	--server-background: url("https://i.imgur.com/c1eTK8b.png");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[style*='820007082937942048'],
[aria-label*="Flashcord"]+*,
[aria-label*="Flashcord"] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-badge: ; /* url("") */
	--server-background: url("https://i.imgur.com/D0F2m68.png"); /* Tehehe Don't Tell */

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[aria-label*="CreArts | Community"]+*,
[aria-label*="CreArts | Community"],
[style*='534376415202639903'] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent: rgba(205, 9, 82, 1.0); /* #000 */
	--server-accent-extra: rgb(204, 142, 165); /* #000 */

	--utility-tooltip-margin: ; /* 6px */
	--utility-tooltip-pading: ; /* 1px 8px 0px 8px */
	--server-tooltip: ; /* block */
	--server-tooltip-text: ; /* "Text" */
	--server-badge: ; /* url("") */
	--server-background: url("https://i.imgur.com/nOPFf0m.png");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

[aria-label*="ShipGirls Community"]+*,
[aria-label*="ShipGirls Community"],
[style*='423116740810244097'] {

	--server-background-top: 0;
	--server-background-left: 0;
	--server-background-height: 152px;
	--utility-header-color: var(--background-secondary); /* var(--server-accent); */
	--server-accent: #977a9b;

	--server-background: url("https://itsjustjoshdev.github.io/src/assets/user/lanyard_banner.png");

	/* CreArts v3 */
	--utility-padding: 90px; 

}

/* Template Banner */
[aria-label*="N1x | ğ‹ğ„ğ€ğ†ğ”ğ„"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://media.discordapp.net/attachments/922210076838739978/922240077738942464/unknown.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

	/* CreArts V2 Vars */
	--BBG-CreArts-Header-Height: 135px;
	--BBG-CreArts-Header-Padding: 80px;
	--BBG-CreArts-Header-Z-Index: 2;
	--BBG-CreArts-Header-Opacity-1: 1;
	--BBG-CreArts-Header-Opacity-0: 0;
	--BBG-CreArts-Header-Transition: none;
	--BBG-CreArts-Header-Color: var(--interactive-active);
	--BBG-CreArts-Header-Radius: var(--radius-primary);

}
